@import "css/global.css";

/*Header*/

#header-default {
    position: relative;
    width: 100%;
    min-height: 800px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(27, 27, 27, 0.966); 
}

#header-default::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../images/background.webp"); 
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 20px;
    opacity: 0.7;
}

#header-default .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    z-index: 1; 
}
.icon{
    padding: 6px;
}
.desc-element{
    display: inline-block;
    padding: 6px;
    background-color: rgba(78, 78, 78, 0.192);
    border-radius: 19px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 14.5px;
    margin-bottom: 35px;
    margin-top: 7px;
}

#header-default .content .left {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: left;
    max-width: 600px; 
}

#header-default .content .left .server-name {
    display: flex;
    flex-direction: column;
}

#header-default .content .left .server-name p {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#header-default .content .left .server-name h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
}

#header-default .server-description {
    margin-bottom: 7px;
    gap: 8px;
    display: flex;
}

#header-default .content .left{
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
}

#header-default .content .left .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#header-default .content .left .buttons .copy-ip {
    background: var(--copy-ip-button-background);
    border: 2px solid var(--main-color);
    border-radius: 7px;
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
#header-default .content .left .buttons .copy-ip:hover {
    opacity: 0.8;
    transform: scale(1.06); 
    transition: transform 0.2s ease-in-out; 
}

#header-default .content .left .buttons .how-to-join {
    background: var(--how-to-join-button-background);
    border: 2px solid rgba(117, 124, 226, 0.815);
    border-radius: 7px;
    padding: 10px 30px;
    color: var(--description-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

#header-default .content .left .buttons .how-to-join:hover {
    opacity: 0.8;
    transform: scale(1.06); 
    transition: transform 0.2s ease-in-out; 
}

#header-default .content .left .ip-copied {
    color: var(--green-color);
    background: var(--ip-copied-background);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    font-size: 17px;
    display: none;
}

#header-default .content .left .ip-copied.active {
    display: flex;
}

#header-default .content .left .ip-copied.error {
    background: var(--warning-background);
    color: var(--red-color);
}

.start-img {
    max-width: 380px;
    height: auto;
}

.start-img:hover {
    animation: float 2s ease-in-out infinite;
    height: auto;
}

#arrow-box {
    position: absolute;
    top: 70vh; 
    left: 50vw; 
    transform: translate(-50%, -30%); 
    z-index: 10;
}

#arrow{
    font-size: 3.7rem;
}

.fa-circle-down {
    transition:0.5s;
}

.fa-circle-down:hover {
    transition:0.5s;
    font-size: 4.1rem;
    color: #4d95d8 !important;
}

#about {
    margin-left: 7%;
    margin-right: 7%;
}

/*About*/
#about .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#about .content .left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 50px;
}

#about .content .left .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#about .content .left .section-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#about .content .left .section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}


#about .content .left .about-us {
    color: var(--description-color);
    font-size: 16.5px;
    max-width: 80%;
    line-height: 1.6;
}

#about .content .right {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
}

#about .content .right img {
    width: auto;
    max-height: 250px;
    position: relative;
    z-index: 1;
    right: 100px;
}

#about .content .right .img-background {
    position: absolute;
    width: 210px;
    height: calc(100% - 40px);
    border-radius: 40px 3px;
    background: rgba(93, 95, 92, 0.082);
    z-index: 0;
    bottom: 5px;
    left: 75px;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#about .img-desc:hover{
    animation: rotate 1.5s ease-in-out;
}

#features {
    padding: 40px 46px;
    
    background: rgba(93, 95, 92, 0.082);
    display: flex;
    justify-content: center;
  }
  
  .features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1323px; 
  }
  
  .feature-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    transition: 0.3s;
  }
  
  .feature-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(61, 144, 252, 0.897);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .feature-icon i {
    color: #fff;
    font-size: 18px;
  }
  
  .feature-description h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--white-color);
  }
  
  .feature-description p {
    font-size: 0.98rem;
    line-height: 1.4;
    color: var(--description-color);
  }

  .feature-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

/*FAQ*/
#faq{
    margin-left: 7%;
    margin-right: 7%;
}

#faq .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#faq .content .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#faq .content .info .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#faq .content .info .section-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#faq .content .info .section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}

#faq .content .info .section-title span {
    color: var(--main-color);
}

#faq .content .info .section-description {
    color: var(--description-color);
    font-size: 17px;
    line-height: 1.6;
    max-width: 70%;
}

#faq .content .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#faq .content .accordion .accordion-item {
    background: var(--stats-background);
    border-radius: 5px;
} 
#faq .content .accordion .accordion-item .accordion-item-header {
    padding: 20px 50px 20px 20px;
    line-height: 1.6;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: var(--white-color);
    font-size: 17px;
}

#faq .content .accordion .accordion-item .accordion-item-header::after {
    content: "\002B";
    font-size: 20px;
    position: absolute;
    right: 20px;
}

#faq .content .accordion .accordion-item .accordion-item-header.active::after {
    content: "\2212";
}

#faq .content .accordion .accordion-item .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#faq .content .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
    padding: 20px;
    line-height: 1.6;
    border-top: 1px solid var(--stats-background);
    color: var(--description-color);
}

/*Animations*/
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

/*Responsive*/
/*Header*/
@media screen and (max-width: 1625px) {
    #header-default .content {
        padding: 150px 90px;
        align-items: start;
        justify-content: center;
    }
}

@media screen and (max-width: 1361px) {
    #header-default .content {
        flex-direction: column;
        padding: 120px 90px;
        height: 100%;
        gap: 60px;
    }
    .start-img {
        display: none;
    }

    .img-background {
        display: none;
    }

    #header-default .content .left {
        gap: 30px;
        justify-content: left;
    }

    #header-default .content .right .stats {
        width: fit-content;
    }

    #header-default .content .right .logo-img {
        display: none;
    }

    @media screen and (min-height: 745px) {
        #header-default .content {
            justify-content: center;
        }

        #header-default .content .left {
            height: fit-content;
            justify-content: center;
            gap: 30px;
        }

        #header-default .content .right {
            height: fit-content;
            justify-content: center;
            gap: 30px;
        }
    }
}

@media screen and (max-width: 819px) {
    #header-default .content {
        padding: 10px 30px;
    }

    #header-default .content .left .server-name p {
        font-size: 15px;
    }

    #header-default .content .left .server-name h1 {
        font-size: 40px;
    }

    #header-default .server-description {
        font-size: 16px;
    }

    #header-default .content .right {
        width: 100%;
    }

    #header-default .content .right .stats {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 621px) {
    #header-default .content .right .stats {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    #header-default .content .right .stats .stat:hover .icon {
        transform: scale(1);
    }
}

@media screen and (max-width: 447px) {
    #header-default .content .left .server-name h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 383px) {
    #header-default .content .left .buttons {
        flex-direction: column;
    }
}
@media (max-width: 1700px) {
    #arrow-box {
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    #arrow-box {
        visibility: hidden;
    }
}

@media screen and (max-width: 1183px) {

    #about .content {
        font-size: 10px !important;
        align-items: center;
        justify-content: center;;
        margin: 0px !important;
        padding: 0px !important;
        gap: 0px !important;
    }

    #about img {
        display: none;
    }
}

@media (max-width: 600px) {
    .features-container {
      grid-template-columns: 1fr;
      gap: 20px; 
      max-width: 100%; 
    }
    
    #features {
      padding: 20px 20px;
    }
  
    .feature-box {
      flex-direction: column;
      align-items: center; 
      text-align: center; 
    }
    
    .feature-icon {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }
    
    .feature-icon i {
      font-size: 28px;
    }
  
    .feature-description h3 {
      font-size: 1.3rem;
    }
  
    .feature-description p {
      font-size: 1rem;
    }
  }

/*FAQ*/
@media screen and (max-width: 6729px) {
    #faq .content .info .section-description {
        max-width: 100%;
    }
}