#rang-box {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 100px;
    color: rgb(12, 12, 12); 
  }
  
  th[data-mc="mc"] {
    font-weight: normal;
    font-style: normal;
  }
  
  #ranks-table {
    width: 70%;
    margin: auto; 
    box-shadow: #1f1f1f 0px 0px 2px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.718);
    text-align: center;
    border-radius: 25px;
  }

  #ranks-table tr {
    border-color: rgba(0, 0, 0, 0.152);
  }

  #ranks-table th {
    text-align: center; 
    vertical-align: middle;
  }
  
  .header-row{
    display: inline;
  }

  #prefixes-row {
    background-color: #212529ed;
    font-size: 22px;
  }
  
  .group-row {
    font-size: 20px;
    background-color: #0000000c;
  }
  
  .fa-check{
    color: #075f07;
    font-weight: bold;
  }

  .fa-times{
    color: #800606;
    font-weight: bold;
  }

  @media screen and (max-width: 1625px) {
    .header-row{
      font-size: 18px;
    }

    #ranks-table {
      width: 90%;
      font-size: 15px;
    }

    #rang-box {
      padding: 50px;
    }

    #prefixes-row {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 564px) {
    .header-row{
      font-size: 15px;
    }

    #rang-box {
      padding: 5px;
      margin: 10px auto auto auto;
    }

    #ranks-table {
      height: 1200px;
      width: 100%;
    }
  }