@import "css/global.css";

/*Rules*/
#rules .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-lowest-section {
    padding: 25px 10px 10px 0
}

.rules-title-lowest-section {
    size: 12px;
    color: white;
}

#rules .warning .icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: relative;
    background: var(--red-color);
    color: var(--white-color);
    border-radius: 5px;
}

.rules-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525a6;    
    border-radius: 15px;
    border: #9b9b9b2a solid 1px;
    padding-left: 40px; 
    padding-right: 40px;
    padding-top: 55px;
    padding-bottom: 55px;
    margin: 20px 0;
}
  
  .rules-info h2 {
    font-size: 24px;
    color: var(--white-color, #fff);
    margin: 0 0 13px 0; 
  }
  
  .rules-info p {
    color: var(--description-color, #ccc);
    font-size: 16px;
    margin: 0;
  }
  
#rules {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.btn-rule {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    background: rgb(58, 111, 190);
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.btn-rule:hover {
    background: rgba(58, 111, 190, 0.74);
    transform: scale(1.05); 
    transition: transform 0.5s ease-in-out; 
    color: #ffffff;
}
.fa-cloud-arrow-down{
    margin-right: 2px;
}

@media screen and (max-width: 600px) {
.rules-bar {
    flex-direction: column;
    gap: 20px;
}

.rules-info {
    text-align: center; 
}

.rules-button {
    text-align: center;
}

.btn-rule {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto;   
}
}

@media screen and (max-width:600px){
    #rules .rules .rules-list  {
        margin-left: 0px;
        padding-left: 40px;
    }   
}

@media screen and (max-width: 462px) {
    #rules .warning {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

/*Server Join*/
@media screen and (max-width: 380px) {
    #join-server .content .buttons {
        flex-direction: column;
        width: 100%;
    }
}